body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(213, 199, 181);
}
header{
    text-align: center;
    
    background-color: rgb(176, 150, 44);
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    

}
.content{
    background-color:rgb(176, 160, 114);
    padding: 10px;
    border-radius:10px ;
    transition: transform 0.3s ease-in-out;
    
}

div :hover{
        
        transform: scale(1.008);
    }


.content p{
    font-size: medium;
}
main{
    display: flex;
    gap: 20px;
    margin: 20px;
}

/* MAIN CONTENT – BIG AREA */
.main-content{
    flex: 4;          /* MORE SPACE */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* SIDEBAR – SMALL AREA */
.sidebar{
    flex: 1;          /* LESS SPACE */
    padding: 20px;
    background-color: rgb(199, 169, 71);
    border-radius: 8px;
    text-align: center;
    font-size: large;
}
img{
    width: 250px;
    border: solid 3px wheat;
    margin-bottom: 10px;
}
